*{
    margin: 0;
    padding-top: 0;
}

body{
    background-color: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.material-symbols-rounded {
  font-variation-settings:'FILL' 0, 'wght' 400,'GRAD' 0, 'opsz' 48;
  font-size: 30px;
  margin-right: 10px;
  padding: 15px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}


@media (min-width: 1290px) {
    .prime-container {
        max-width: 1700;
        background-color: blueviolet;
        height: 100vh;
        margin: auto;
    }
}
@media (min-width: 1290px){
    .container{
        max-width: 1300;
        background-color: #fff;
        height: 100vh;
        margin: auto;
        display: flex;
    }
}
/* .width-size{
    width: 33.33%;
} */

.sidebar{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    height: 100vh;
}

.nav-menu-list{
    display: flex;
    align-items: center;
    background-color: inherit;
    padding-top: 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 20px 5px 2px 10px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;   
}
.nav-menu-list:hover{
    background-color: #eff1f1;
}
.nav-menu-list .button-function{
    font-size: 20px;
    font-weight: 400;
}
.active{
    font-weight: 700 !important;
}
.icon-active{
    font-variation-settings:'FILL' 69, 'wght' 700,'GRAD' 60, 'opsz' 18;
}
.logo{
    margin-left: 13px;
}
.logo > img{
    background-color: red;
    border-radius: 50%;
    padding: 7px;
    height: 35px;
}
.btn{
    padding: 15px 90px 15px ;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #1d9bf0;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background-color: #198cd8;
}

/* Styling the botton icon */
.pro-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 30px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.profile-btn:hover{
    background-color: #eff1f1;
}
.profile-img-inner {
    width: 40px;
    height: 50px;
}
.profile-img-inner > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.profile-img{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.profile-btn{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}



.sidebar{
    width: 25% !important;
}
.feed{
    width: 40%;
    border-right: 0.5px solid #e7e7e8;
    border-left: 0.5px solid #e7e7e8;
    position: relative;
}
.scrollable-section{
    width: 100%;
    background-color: #198cd8;
    position: relative;
}
.nav-bar-info{
    display: flex;
    background-color: inherit;
    align-items: center;
}
.page{
    font-size: 20px;
    font-weight: 700;
    padding-left: 15px;
}
.top-tweets{
    padding-right: 10px;
}
.temp{
    font-size: 28px;
    padding: 8px;
    border-radius: 50%;
}
.temp:hover{
    background-color: #e7e7e8;
}
.profile-postbox{
    height: 50px;
    width: 50px;
}
.profile-postbox > img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.post-box{
    padding-top: 4rem !important;
    display: flex;
    padding: 15px;
    border-bottom: 0.5px solid #e7e7e8;
}
.input-section{
    margin-left: 10px;
    margin-top: 5x !important;
    width: 100%;
}
.input > input{
    font-size: 18px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}
.input-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-post .material-symbols-rounded{
    font-size: 20px;
    color: #1d9bf0;
    font-weight: 500 !important;
    cursor: pointer;
    padding: 3px;
    background-color: red;
}
.icons-post .material-symbols-rounded:hover{
    background-color: #e8f5fd;
}
.tweets{
    background-color: #198cd8;
    border: none;
    padding: 10px 20px 10px;
    border-radius: 30px;
    
}
